<h1>Chudy Construction - A specialist in Carpentry</h1>
<p>This is the homepage</p>


<!-- nav bar like strums.com
nav bar:
    - phone #
    - contact us

Menu bar with links:
    - custom interiors
        ~ office/studies
        ~ kitchen/bath
        ~ door/window surrounds
    - Cabinetry
        ~ kitchens
        ~ vanities
        ~ entertainment center
        ~ dry and wet bar
    - Online Store
    - About Us
    - Request a Quote


Full page slideshow




Note: Picture of dog a must
-->
